
.theme-light .workspace, .theme-dark .workspace
{
	background-color: black;
}
.workspace:not(cm-active) {
	color: var(--secrets-color);
	--text-normal: var(--secrets-color);
	--code-normal: var(--secrets-color);
	--tag-color: var(--secrets-color);
	--checklist-done-color: var(--secrets-color);
	--emphasis-text: var(--secrets-color);
	--strong-text: var(--secrets-color);
	--strike-text: var(--secrets-color); 
	--h1-color: var(--secrets-color); 
	--h2-color: var(--secrets-color); 
	--h3-color: var(--secrets-color); 
	--h4-color: var(--secrets-color); 
	--h5-color: var(--secrets-color); 
	--h6-color: var(--secrets-color); 
	--link-color: var(--secrets-color); 
	--link-external-color: var(--secrets-color); 
	--text-highlight-bg: black;
}
.callout {
	background-color: black;
	color: var(--secrets-color);
	border-color: var(--secrets-color);
}
.callout-title-inner {
	color: var(--secrets-color);
	border-color: var(--secrets-color);
}
.cm-active {
	--emphasis-text: hsl(
		calc(var(--accent-h) - var(--shift-hue)),
		var(--styled-text-sat),
		var(--styled-text-lum)
	);
	--strong-text: hsl(
		calc(var(--accent-h) + var(--shift-hue)),
		var(--styled-text-sat),
		var(--styled-text-lum)
	);
	--strike-text: hsl(
		calc(var(--accent-h) + var(--strongest-shift-hue)),
		var(--styled-text-sat),
		var(--styled-text-lum)
	);
	color: var(--light-whim);
	--text-normal: var(--light-whim);
	--code-normal: var(--light-whim);
	--tag-color: var(--bcon);
	--checklist-done-color: var(--light-whim);
}