body {
    --background-primary: var(--bg-color);
    --background-secondary: var(--bg-color);
}

.theme-light .workspace, .theme-dark .workspace {
	background-position: 50% 50%;
	background-size: auto;
	background: var(--gdj-artnouveau6);
}