
body {
	filter: invert(10%) sepia(75%) saturate(100%) hue-rotate(80deg) brightness(1.15) contrast(2);
}
.theme-dark .workspace {
	-webkit-mask-image: var(--nmask-whim-scanlines);
}
.theme-light .workspace {
	-webkit-mask-image: var(--nmask-whim-scanlines);
}